*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
:root{
  --primary-color:#FFFFFF;
  --secondary-color:#121212;
  --all-cards-primary: #e0e0e0;
  --search-bar-primary:#333;
  --search-placeholder-primary:#555;
  --sidebar-ka-scrollbar:rgba(19,19,19,0.773);
  --main-class-primary:#E8E8E8;
  --carousel-hover-primary:rgba(0,0,0,.2);
  --card-img-bg-primary:rgb(252, 241, 241);
  --form-close-primary:#0b0217;
  --input-box-input:#aaaaaa;
  --input-box-email:#707070;
  --login-button-primary:rgb(56, 55, 55);
  --slider-point-two:rgba(0,0,0, 0.2);
  --slider-point-three:rgba(0,0,0, 0.3);
  --slider-point-four:rgba(0,0,0, 0.4);

}
.dark-theme{
  --slider-point-two:rgba(255, 255, 255, 0.4);
  --slider-point-three:rgba(255, 255, 255, 0.4);
  --slider-point-four:rgba(255,255,255, 0.4);
  --login-button-primary:#fafaf8;
  --input-box-email:#e7dfdf;
  --input-box-input:#f4ecec;
  --form-close-primary:#f4f2f2;
  --card-img-bg-primary:rgb(112, 107, 107);
  --carousel-hover-primary:rgba(107, 105, 105, 0.996);
  --main-class-primary:#1a1919;
  --sidebar-ka-scrollbar:rgba(233, 227, 227, 0.773);
  --search-placeholder-primary:#e4dada;
  --search-bar-primary:#e8e5e5;
  --primary-color:#121212;
  --secondary-color:#FFFFFF;
  --all-cards-primary: #121212;
}
.home::before{
  content:"";
  position: fixed;
  height: 100%;
  width: 100%;
  background-color:rgba(0,0,0,0.6) ;
  z-index: 99;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-out;
}
.home.show::before {
  opacity: 1;
  pointer-events: auto;
}
.form_container{
  position: absolute;
  max-width: 450px;
  height: 420px; 
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) scale(1.2);
  z-index: 100;
  color: var(--secondary-color);
  background: var(--primary-color);
  padding: 25px;
  border-radius: 12px;
  box-shadow: rgba(0,0,0,0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease-out;
}

.home.show  .form_container {
  opacity: 1;
  position: fixed;
  pointer-events: auto;
  transform: translate(-50%,-50%) scale(1);
}

.signup_form{
  display: none;
}
.form_container.active .signup_form{
  display: block;
}
.form_container.active .login_form{
  display: none;
}
.form_close{
  position: absolute;
  top: 10px;
  right: 20px;
  color: var(--form-close-primary);
  font-size: 22px;
  opacity: 0.7;
  cursor: pointer;
}
.form_container h2{
  font-size: 30px;
  color:var(--form-close-primary);
  text-align: center;
}

.input_box{
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: 40px;
  
}
.input_box input{
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  padding: 0 30px;
  transition: all  0.2 ease;
  border-bottom: 1.5px solid var(--input-box-input) ;
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

.input_box input:focus{
  border-color: var(--secondary-color);
}
.input_box i{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}
.input_box i.password,
.input_box i.email{
  left: 0;
  color: var(--input-box-email);
}
.input_box input:focus ~ i.password,
.input_box input:focus ~ i.email{
  color: var(--secondary-color);
}
.input_box i.pw_hide{
  right: 0;
  font-size: 15px;
  cursor: pointer;
}
.option_field{
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form_container a{
  color:var(--secondary-color) ;
  font-size: 15px;
  text-decoration: none;
  font-weight: 500;
}
.form_container a:hover{
  text-decoration: underline;
}
.checkbox{
  column-gap: 8px;
  display: flex;
  white-space: nowrap;
  font-size: 15px;
  
}
.checkbox input{
  accent-color: var(--secondary-color);
}
.checkbox label{
  font-size: 15px;
  cursor: pointer;
  user-select: none;
  color: var(--form-close-primary);
  
}
.form_container  .sub_button-login{
  background-color:var(--login-button-primary);
  color: var(--primary-color);
  margin-top: 50px;
  /* box-shadow: ; */
  width: 100%;
  padding: 10px 0;
  border-radius: 10px;
  border: none;
}
.form_container  .sub_button-login:active{
transform: scale(0.97);
}
.form_container  .sub_button-signup{
  background-color: var(--login-button-primary);
  color: var(--primary-color);
  margin-top: 30px;
  width: 100%;
  padding: 10px 0;
  border-radius: 10px;
  border: none;
}
.form_container  .sub_button-signup:active{
  transform: scale(0.97);
  }
.login_signup{
  font-size: 14px;
  text-align: center;
  margin-top: 15px;
}

.navBar{
  height: 60px;
  width: 100%;
  border-bottom: 2px solid var(--secondary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between ; 
  align-items: center ;
  background-color: var(--primary-color);
  position: fixed;
  z-index: 5;
  box-shadow: 0px 5px 10px var(--carousel-hover-primary);
}

.sideBar i{
  font-size: 2.2em;
  margin-left: 10px;
  color: var(--secondary-color);
}
.logo{
  margin:8px 0 0 -150px ;                
}
.logo img{
  position: absolute;
  top: -6px;
  left: 110px;
  height: 4.6em;
  cursor: pointer;
  filter: drop-shadow(4px 1px 1px grey);
}
.logo img:hover{
  height:4.7em;
  filter: drop-shadow(7px 1px 1px grey);
 
}
#goku{
  position: relative;
  display: inline-block;
  margin-left: -310px;
  padding: 4px 4px;
  letter-spacing: 3px;     
  text-decoration: none;
  overflow: hidden;
  transition: 0.2s;
  font-size: 2.3em;
  text-decoration: none;
  font-weight: 800;
  color:var(--secondary-color);
}
#goku:hover {
  transition-delay: 1s;
 
}
#goku span {
  position: absolute;
  display: block;
}
#goku span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 3px;
  background: linear-gradient(90deg, transparent,var(--secondary-color));
}
#goku:hover span:nth-child(1) {
  left: 100%;
  transition: 1s;
}
#goku span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 3px;
  background: linear-gradient(270deg, transparent, var(--secondary-color));
}
#goku:hover span:nth-child(3) {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}
#goku span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(180deg, transparent,var(--secondary-color));
}
#goku:hover span:nth-child(2) {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}
#goku span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(360deg, transparent,var(--secondary-color));
}
#goku:hover span:nth-child(4) {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}
.toggle-button{
  position: absolute;
  right: 150px;
  user-select: none;
}
#darkmod-toggle+label{
  width: 98px;
  height: 45px;
  position: relative;
  display: block;
  background: #ebebeb;
  border-radius: 200px;
  box-shadow: inset 0px 5px 15px rgba(0,0,0,0.4),inset 0px -5px 15px rgba(255,255,255,0.4);
  cursor: pointer;
  transition: 0.3s;
}
#darkmod-toggle+label:after{
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  top:2px;
  left: 2px;
  background: linear-gradient(180deg,#ffcc89,#d8860b);
  border-radius: 180px;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
  transition: 0.3s;
}
#darkmod-toggle{
  position: absolute;
  width: 0;
  height: 0;
  visibility: hidden;
}
#darkmod-toggle:checked +label{
  background: #242424;
}
#darkmod-toggle:checked +label:after{
  left: 95px;
  transform:translateX(-100%);
  background:linear-gradient(180deg,#777,#3a3a3a);
}
#darkmod-toggle+label:active:after{
  width: 50px;
}
#darkmod-toggle+label svg{
  position: absolute;
  width: 35px;
  z-index: 2;
}
.sun-ki-photo{
  top: 7px;
  width: 100px; 
  left: 5px;
  fill: #fff;
  transition:0.3;
}
.moon-ki-photo{
  top: 2px;
  height: 40px;
  left: 60px;
  fill: #7e7e7e;
  transition:0.3 ;
}
#darkmod-toggle:checked +label .sun-ki-photo{
  fill: #7e7e7e;
}
#darkmod-toggle:checked +label .moon-ki-photo{
  fill: #fff ;
}
.searchBtn{
  background:var(--primary-color);
  height: 2.3em;
  width: 30em;
}
#search{
  flex: 1;
  background: var(--primary-color);
  border: 0;
  outline: 0;
  color: var(--search-bar-primary);
}
#search::placeholder{
  color: var(--search-placeholder-primary);
}
.row{
  display: flex;
  align-items: center;
  padding: 7px 20px 5px 20px;
  border: 2px solid var(--secondary-color);
  border-radius: 10px;
}
#btn-search{
  background: transparent;
  border: 0;
  outline: 0;
}
#btn-search .fa-solid{
  width: 25px;
  color: var(--search-placeholder-primary);
  font-size: 18px;
  cursor: pointer;
}
#login-button{
  margin-right: 15px;
  border: 2px solid var(--secondary-color);
  color: var(--secondary-color);
  background: transparent;
  padding: 4px 17px;
  font-size: 1.3em; 
}

#login-button:active{
  transform: scale(0.97);
}

#form-open #login-button{
  text-decoration: none;
  border: 2px solid var(--login-button-primary);
  color: var(--secondary-color);
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  display: inline-block;
  
}
#login-button span {
  position: relative;
  /* z-index coz when we put bg to before and after this span text will not be visible */
  z-index: 3;
  
}
#form-open #login-button::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -2px;
  width: calc(100% + 6px);
  /*100% plus double the times left values*/
  height: calc(100% - 10px);
  background-color: var(--primary-color);
  transform: scaleY(1);
  transition: transform 0.5s ease-in-out;
}

#form-open #login-button:hover::before{
  transform: scaleY(0);
}

#form-open #login-button::after {
  content: "";
  position: absolute;
  left: 5px;
  top: -5px;
  width: calc(100% - 10px);
  /*100% plus double the times left values*/
  height: calc(100% + 10px);
  background-color:var(--primary-color);
  transition:transform  0.5s ease-in-out;
  transform: scaleX(1);
}

#form-open #login-button:hover::after{
  transform: scaleX(0);
}


.innerSid{
  height: 41rem;
  width: 15rem;
  top: 8%;
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: var(--primary-color);
  }
.innerSid::-webkit-scrollbar{
    width: 10px;
   
  }
.innerSid::-webkit-scrollbar-track{
    background: var(--primary-color);
  }
.innerSid::-webkit-scrollbar-thumb{
    background-color: var(--sidebar-ka-scrollbar);
    border-radius: 100px;
  }
.list{
  position: relative;
  font-size: 1.6em;
  margin: 0.7em 0 0 1em ;
  display: flex;
  flex-direction: row;
  color: var(--secondary-color);
}
.list i{
  color: var(--secondary-color);
  margin-top: 5px;
}
.list1-innertext{
  position: absolute;
  left: 1.55em;
  font-weight: 500;
  font-size: 24px;
}
.list2{
  font-size: 1.4em;
  margin: 0.7em 0 0 10px ;
  width: 11rem;
  display: flex;
  flex-direction: row;
}
.list2 i{
  margin: 4px 0 0 10px;
  color: var(--secondary-color);
}
.list2-innerText{
  position: absolute;
  text-decoration: none;
  color: var(--secondary-color);
  padding: 0 0 3px 0;
  left: 2.6em;
  font-weight: 450;
}
.list2-innerText:hover{
  text-decoration: underline;
  cursor: pointer;
}

.line{
  margin-top: 1.5em;
  width: 230px;
  border: 1px solid var(--secondary-color);
  
}
.explore{
  font-size: 1.3em;
  margin: 0.7em 0 0 1em; 
  color: var(--secondary-color);
}
.send-feedback{
  font-size: 21px;
}
#main{
  height: 4500px;
  width: 1279px;
  position: absolute;
  left: 15em;
  border-left: 2px solid var(--secondary-color);
   background-color:var(--main-class-primary);
  overflow:auto;
  overflow-x: hidden;
}
.carousel{
  position: relative;
  top: 7em;
  left: 9em;
  width: 80%;
  height: 320px; 
  user-select: none;
  perspective: 1000px;
  transform-style:preserve-3d ;
}

#s1,#s2,#s3,#s4,#s5 {
  display: none;
}

.carousel label{
  margin: auto;
  width: 65%;
  height: 100%;
  border-radius: 5px;
  position: absolute;
  left: 0;
  right: 0;
  cursor: pointer;
  transition:transform 0.4s ease;
}

#s1:checked ~ #slide1,
 #s2:checked ~ #slide2,
  #s3:checked ~ #slide3,
   #s4:checked ~ #slide4,
    #s5:checked ~ #slide5 {
  box-shadow: 0 13px 26px var(--slider-point-three), 0 12px 6px var(--slider-point-two);
  transform: translate3d(0%, 0, -30px);
}

/* Next Slide */
#s1:checked ~ #slide2,
 #s2:checked ~ #slide3,
  #s3:checked ~ #slide4,
   #s4:checked ~ #slide5,
    #s5:checked ~ #slide1 {
  box-shadow: 0 6px 10px var(--slider-point-three), 0 2px 2px var(--slider-point-two);
  transform: translate3d(20%, 0, -100px);
}


/* Next to Next Slide */
#s1:checked ~ #slide3,
 #s2:checked ~ #slide4,
  #s3:checked ~ #slide5,
   #s4:checked ~ #slide1,
    #s5:checked ~ #slide2 {
  box-shadow: 0 1px 4px var(--slider-point-four);
  transform: translate3d(40%, 0, -200px);
}

/* Previous to Previous Slide */
#s1:checked ~ #slide4,
 #s2:checked ~ #slide5,
  #s3:checked ~ #slide1,
   #s4:checked ~ #slide2,
    #s5:checked ~ #slide3 {
  box-shadow: 0 1px 4px var(--slider-point-four);
  transform: translate3d(-40%, 0, -200px);
}

/* Previous Slide */
#s1:checked ~ #slide5,
 #s2:checked ~ #slide1,
  #s3:checked ~ #slide2,
   #s4:checked ~ #slide3,
    #s5:checked ~ #slide4 {
  box-shadow: 0 6px 10px var(--slider-point-three), 0 2px 2px var(--slider-point-two);
  transform: translate3d(-20%, 0, -100px);
}

.all-cards{
  position: relative;
  top: 14em;
  height: 3950px;
  width: 80rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: flex-start;
  background-color: var(--all-cards-primary);
}
.all-cards h3{
  font-size: 2em;
  color:var(--secondary-color);
}
.cards{
  height: 16em;
  width: 18em;
  border-radius: 20px;

}
.display-cards{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.container-1line-card{
  margin-top: 0.7em;
  width: 77rem;
  height: 19rem; 
}
.container-2line-card{
  margin-top:0.5em;
  width: 77rem;
  height: 36rem; 
}
.inside-card{
  position: relative;
  top: 11em;
  height: 4.79em;
  width: 17.8em;
  /* border-top: 2px solid rgba(0, 0, 0, 0.773); */
  border-top: 2px solid var(--secondary-color);
  background-color:var(--primary-color);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  
}
.creator-picture{
  position: relative;
  left: 9px;
  top: 11px;
  height: 3.2em;
  width: 3.2em;
  border-radius: 50%;
  object-fit: cover;
  background-color: var(--secondary-color);
}
.description{
  position: relative;
  left: 4em;
  bottom: 52px;
  height: 73px;
  width: 222px;
  color: var(--secondary-color);
}
.card-image{
  position: absolute;
  height: 180px;
  width: 285px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: black;
  
}
.description-innerText{
  height: 40px;
  width: 222px;
  font-weight: 600;
  
  font-family: 'Josefin Sans', sans-serif;
}
.creator-name{
  height: 18px;
  font-weight: 600;
  font-family: 'Josefin Sans', sans-serif;
}
.creator-name:hover{
  text-decoration: underline;
  cursor: pointer;
}
.upload-time-views{
  position: relative;
  font-size: 14px;
  font-weight: 500;
  bottom: 7px;
  color: var(--secondary-color);
}
.all-cards+footer{
  position: absolute;
  bottom: 0;
  height: 3rem;
  width: 81.8rem;
  border-top: 2px solid var(--secondary-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
}
.terms-conditions a{
 color: var(--secondary-color);
 text-decoration: none;
 font-size: 1.1em;
 font-weight: 500;

}
.copyright{
  position: absolute;
  color: var(--secondary-color);
  right: 0;
  margin-right: 2.5em;
}
